In [2]:
import os; os.environ["CUDA_VISIBLE_DEVICES"] = "-1"

from tqdm.auto import tqdm

from pathlib import Path
import numpy as np
import pandas as pd
import scipy
from pickle import dump, load
import matplotlib.pyplot as plt
import cv2
import random
from IPython.display import clear_output
import tensorflow as tf
# import plotly.express as px
from tensorflow.keras import layers
from functools import partial
from PIL import Image
import re

import torch
import piq

In [5]:
kodim22 = pd.read_csv("kodim22-results.csv")
kodim23 = pd.read_csv("kodim23-results.csv")

In [4]:
kodim22

,x_shift::-0.1,x_shift::-0.06666666666666667,x_shift::-0.03333333333333332,x_shift::1.7763568394002505e-17,x_shift::0.033333333333333354,x_shift::0.06666666666666671,x_shift::0.1,y_shift::-0.1,y_shift::-0.06666666666666667,y_shift::-0.03333333333333332,y_shift::1.7763568394002505e-17,y_shift::0.033333333333333354,y_shift::0.06666666666666671,y_shift::0.1
0,0.785714,0.357143,0.214286,0.071429,0.285714,0.571429,0.714286,1.0,0.928571,0.5,0.142857,0.428571,0.642857,0.857143

In [6]:
kodim23

,x_shift::-0.1,x_shift::-0.06666666666666667,x_shift::-0.03333333333333332,x_shift::1.7763568394002505e-17,x_shift::0.033333333333333354,x_shift::0.06666666666666671,x_shift::0.1,y_shift::-0.1,y_shift::-0.06666666666666667,y_shift::-0.03333333333333332,y_shift::1.7763568394002505e-17,y_shift::0.033333333333333354,y_shift::0.06666666666666671,y_shift::0.1
0,1.0,0.928571,0.714286,0.071429,0.428571,0.642857,0.857143,0.785714,0.571429,0.5,0.142857,0.214286,0.285714,0.357143